.h1{
  color:blue;

  text-align: center;
}

.h2{
  color:red;

  text-align: left;

  padding: 30px;
}

.backgroundnight{
  background-color:black;
  color: white;

}

.backgroundday{
  background-color:white;
  color:black;

}