.c1{
    /* 색깔 */

    color:blue;

    /* 글씨 크기 */

    font-size:50px;   

    /* 가운데 정렬  */
    text-align: center;


    
   
}

.c2{
    
    color: blueviolet;

    font-size: 100px;

    text-decoration: underline;
    
    
    /* 양쪽정렬:글자 사이에 공백이 있어야됨 */


    text-align: justify;

    /* 자신의 부피만큼만 적용 */
    display: inline;
}

.h1{
    border-bottom: 3px solid gray;

    /* 화면 전체만큼 적용 */
    display: block;

    /* 테두리사이의 간격 */
    padding:20px;

    /* 테두리와 테두리 사이의 거리 */
    margin: 0px;
    padding: 20px;

}

.olbox{
    color: blue;

    border-right: 3px solid gray;
    
    width: 150px;
    
    padding: 50px;

    margin: 20px;

    font-size: 30px;

}

.grid{
    display: grid;

    grid-template-columns: 300px 1fr;
}
.lifont{
    font-size: 30px;

    

    
}



