*{
  font-family:'KyoboHandwriting2020A' ,  sans-serif;
 

  box-sizing: border-box;
  
}
.woong{
  font-size: 10px;
}

h1{
  font-size: 120px;
  margin-left: 80px;
  margin-bottom: 400px;
  display: flex;
  /* align-items: center; */
  justify-content: default;
}

h4{
  font-size: 25px;
  margin-left: 20px;
}


/* 헤더 */

header{
  position: fixed;
  color: black;
 
  right: 0px;
  padding: 0px 0;
  /* background: rgba(0,0, 0, .6); */
  z-index: 100;
  font-size: 25px;
}

header nav ul{
  display:flex;
  justify-content:center;

}

header nav ul li{
  margin: 0 20px;
  list-style: none;

}





  /* 푸터 */

  .footer{
    width: 100%;
    clear: both;
    text-align: center;
    background: white;
    padding-top: 380px;
    
  }

  .img_wrapper{
    text-align: center;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .footer img{
    margin-top: 100px;

    width: 50px;
    height: 50px;
    float: right;
   
    margin-right:10px;

    /* 그림을 둥글게*/
    border-radius: 50%;
    ;
  }

 .footertext{
    font-size: 16px;
    padding: 100px;
  }



  /* 링크 언더바 삭제 */
  a{ 
    text-decoration:none !important 
  } 

  a:hover{ 
    text-decoration:none !important
    
   }


   /* h1~h4 */


