

*{
  font-family:'KyoboHandwriting2020A' ,  sans-serif;
 

  box-sizing: border-box;
  
}



@media screen {
  
  /* 왼쪽 상단 움직이는 글씨 */
  .move_text{
    
    display: flex;
    /* align-items: center; */
    justify-content: default;
    color:white;
    margin-right: 1230px;
    font-size: 31px;
    width: 50%;
   
    font-weight:bolder;
    position: fixed;
    left: 30px;
    top: 30px;
   
    /* 글자 애니메이션 추가 */
    background:  url("https://i.pinimg.com/originals/bc/1e/88/bc1e8884b0c4cb638753ba953e102334.jpg");
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 20s linear infinite;
  }
  
  @keyframes animate {
    from{
      background-position: 0% 50%;
    }
    to{
      background-position: 100% 50% 0%;
    }
    
    
  }
  
  
  

  
  /* 메인화면 애니메이션 */
  .airplane{
    padding: 0;
    margin: 0;
    width:850px; 
    height:450px; 
    position: fixed; 
    right:150px; 
    bottom:50px ;
    
  }


  

/* 데스크탑 홈 글씨 */
  @media screen and (max-width:1920px){
    h1{
      font-size: 120px;
      margin-left: 80px;
      margin-bottom: 300px;
      display: flex;
      /* align-items: center; */
      justify-content: default;
      color:rgb(63,72,204);
      
    }
  }

  /* 노트북 홈 글씨 */
  @media screen and (max-width:1366px){
    h1{
      font-size: 90px;
      margin-left: 80px;
      margin-bottom: 120px;
      display: flex;
      /* align-items: center; */
      justify-content: default;
      color:rgb(63,72,204);
      
    }
  }



h4{
  font-size: 20px;
  margin-left: 20px;
}


/* 헤더 */

header{
  position: fixed;
  color: black;
  
  width: 100%;
  height: 10%;
  
  right: 0px;
  padding: 0px 0;
  /* background: rgba(0,0, 0, .6); */
  z-index: 100;
  font-size: 25px;

  box-shadow: 0 0 10px;
}

header nav ul{
  display:flex;
  justify-content:center;
  float: right;
  position: fixed;
  right: 20px;
    top: 10px;
  

}

header nav ul li{
  margin: 0 20px;
  list-style: none;

}


/* 2페이지 자기소개 박스 */


@media screen and (max-width:1920px){
.box{
  
  width: 1100px;
  height: 500px;
  background-color: white;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  box-shadow: 1px 1px 1px 0px;
  border-radius: 1.5%;
}



/* 얼굴 박스 */
.my_face{
  width:200px;
  height: 200px;
  background-color:black;
  margin:0;
  margin-top: 90px;
  position: fixed;
  left: 500px;
  border-radius: 10%;
  
}

/* 소개 박스 */
.introduce_box{
  width:600px;
  height: 300px;
  background-color:white;
  margin:0;
  margin-top: 50px;  
  position: fixed;
  left: 750px;
 
}
/* 연혁 박스 */
.life{
  width: 300px;
 
  height: 200px;
  background-color:white;
  margin:0;
  margin-top: 50px;  
  position: fixed;
  left: 1130px;
  
}

/* 소개글머리 */
.head_text{
  margin-top: 20px;
  margin-left:20px;
    padding: 0px;
    width: 20%;
    text-align: center;
    font-weight: bold;
    color:black;
    background-color:skyblue;
    font-size: 27px;
}
/* 글머리 아래글 */
.body_text{
  margin-top: 10px;
  margin-left:20px;
  padding: 0px;
    
    text-align: left;
    font-weight: bold;
    color:black;
    
    font-size: 25px;
}

.introduce_text{
  text-align: center;
  margin-top: 100px;
  padding: 0px;

  font-weight: bold;
  color:rgb(63,72,204);
  font-size: 40px;
}

.name{
  margin-top: 10px;
  padding: 0px;
  text-align: center;
  font-weight: bold;
  color:black;
  font-size:25px;
}

}


@media screen and (max-width:1366px){
  .box{
    width: 900px;
    height: 400px;
    background-color: white;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    box-shadow: 1px 1px 1px 0px;
    border-radius: 1.5%;
  }

  .line{
    border-left:  thick solid #000;
    margin-top: 18px;
    height:100%;
    left: 50%;

 position: absolute;
  }
  
  /* 얼굴 박스 */
  .my_face{
    width:200px;
    height: 200px;
    background-color:black;
    margin:0;
    margin-top: 60px;
    position: fixed;
    left: 300px;
    border-radius: 10%;
  }

  /* 소개 박스 */
  .introduce_box{
    width:600px;
    height: 300px;
    background-color:white;
    margin:0;
    margin-top: 50px;  
    position: fixed;
    left: 500px;
   
  }
  /* 연혁 박스 */
  .life{
    width: 300px;
   
    height: 200px;
    background-color:white;
    margin:0;
    margin-top: 50px;  
    position: fixed;
    left: 800px;
    
  }

  /* 소개글머리 */
  .head_text{
    margin-top: 10px;
    margin-left:20px;
      padding: 0px;
      width: 20%;
      text-align: center;
      font-weight: bold;
      color:black;
      background-color:skyblue;
      font-size: 25px;
  }
  /* 글머리 아래글 */
  .body_text{
    margin-top: 10px;
    margin-left:20px;
    padding: 0px;
      
      text-align: left;
      font-weight: bold;
      color:black;
      
      font-size: 18px;
  }
  
  .introduce_text{
    text-align: center;
    margin-top: 100px;
    padding: 0px;
  
    font-weight: bold;
    color:rgb(63,72,204);
    font-size: 40px;
  }

  .name{
    margin-top: 10px;
    padding: 0px;
    text-align: center;
    font-weight: bold;
    color:black;
    font-size:25px;
  }
  
  }




  /* footer */

  .footer{
    width: 100%;
    clear: both;
    text-align: center;
    background: white;
    padding-top: 380px;
    
  }

  .img_wrapper{
    text-align: center;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .footer img{
    margin-top: 100px;
    width: 50px;
    height: 50px;
    float: right;
    margin-right:10px;

    /* 그림을 둥글게*/
    border-radius: 50%;
    ;
  }

 .footertext{
    font-size: 16px;
    padding: 100px;
  }



  /* 링크 언더바 삭제 */
  a{ 
    text-decoration:none !important 
  } 

  a:hover{ 
    text-decoration:none !important
    
   }


   /* h1~h4 */

  }
