
/* *표시 - (상시적용) */

    *{
      font-family: 'Noto Sans KR', sans-serif;
      list-style: none;
      text-decoration: none;
      border-collapse: collapse;
      margin: 0px;
      padding: 0px;
      color:black;
      
    }

    
   h1{
    font-size: 48px;
    font-weight: 100;
   }

   h4{
    font-size: 20px;
    font-weight: lighter;
   }

    /* 배경사진 */
   .intro_bg{
    background-image: url("img/intro.png");

    width: 100%;
    height: 718px;
   }

   /* 헤더 탭 */
   .header{
    display: flex;
    width: 1280px;
    margin: auto;
    background-color:auto;
    height: 86px;
   }


   /* 검색 탭 */

   .searchArea{
    width: 300px;
    height: 40px;
    background:rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 24px;

   }

   .searchArea > form > input{
    border: none;
    width: 250px;
    height: 40px;
    background:rgba(0,0,0,0);
    color:#fff;
    padding: 10px;
   }

   .searchArea > form > span{
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    
   }

   /* 네이게이션 탭 */
   .navi{
    display: flex;

    justify-content: flex-end;/* 끝부분에 네비게이션 정렬 */
  
    
    line-height: 86px;/* 네비게이션 상단에서 떨어진 거리 */

    width: 980px;

    color: white;
   }

   /* ul의 자식 태그 */
   .navi > li{
    margin-left: 84px;
   }


   .navi > li > a{
    margin-left: 84px;
    color: white;
   }


   /* 인트로 글씨 */
   .intro_text{
    width: 100%;
    margin: 231px auto 231px auto;/*상 우 하 좌 순서 */
    
    text-align: center;
   }


   
   .intro_text > h1,
   .intro_text > h4{
      color:#fff;
   }

